Repository KMS-WS20-T01/MyCargonaut, pull requests merged in 2021-01, with the labels that each got.

#43 Deployment
  .dockerignore
  .github/workflows/deploy.yml
  Dockerfile
  backend/.env
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/constants.ts
  backend/src/auth/strategies/jwt.strategy.ts
  backend/src/main.ts
  docker-compose.yaml
Labels: CI/CD

#54 angebot/anfrage hinzufügen
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/inputFields.ts
  frontend/src/components/AddOfferPage/index.tsx
  frontend/src/components/AddRequestPage/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/Offer/Offer.style.tsx
  frontend/src/components/Offer/OfferDummy.tsx
  frontend/src/components/OfferPage/index.tsx
  frontend/src/routes.ts
  frontend/src/util/InputForm/index.tsx
Labels: Design, Frontend

#56 Registrierung/login
  backend/.env
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/strategies/jwt.strategy.ts
  backend/src/car/car.service.spec.ts
  backend/src/chat/chat.service.spec.ts
  backend/src/main.ts
  backend/src/offer/offer.service.spec.ts
  backend/src/rating/rating.service.spec.ts
  backend/src/status/status.service.spec.ts
  backend/src/testUtil/MongooseTestModule.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  docker-compose.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/auth.ts
  frontend/src/api/util.ts
  frontend/src/assets/inputFields.ts
  frontend/src/components/App.tsx
  frontend/src/components/Header/Header.test.tsx
  frontend/src/components/Header/NavElements/NavElements.test.tsx
  frontend/src/components/Header/NavElements/index.tsx
  frontend/src/components/Login/Login.test.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/ProfilePage/Profile.style.tsx
  frontend/src/components/ProfilePage/Profile.tsx
  frontend/src/components/Registration/Registration.test.tsx
  frontend/src/components/Registration/index.tsx
  frontend/src/components/StartPage/index.tsx
  frontend/src/features/authSlice.ts
  frontend/src/features/rootReducer.ts
  frontend/src/features/userSlice.ts
  frontend/src/hooks/useNotLoggedIn.tsx
  frontend/src/hooks/useRegister.tsx
  frontend/src/model/User.tsx
  frontend/src/routes.ts
  frontend/src/util/AuthCheck.tsx
  frontend/src/util/FetchError.ts
  frontend/src/util/InputForm/index.tsx
  frontend/src/util/ProtectedRouteBody.tsx
  frontend/src/util/testUtil.tsx
Labels: Backend, Frontend

#83 add Validation
  frontend/src/components/AddOfferPage/index.tsx
  frontend/src/components/AddRequestPage/index.tsx
  frontend/src/components/AddVehiclePage/index.tsx
  frontend/src/components/Dashboard/index.tsx
  frontend/src/components/Login/index.tsx
  frontend/src/components/ProfilePage/index.tsx
  frontend/src/components/Registration/index.tsx
  frontend/src/hooks/useAddOffer.tsx
  frontend/src/hooks/useAddVehicle.tsx
  frontend/src/hooks/useRegister.tsx
  frontend/src/util/CustomCard/index.tsx
  frontend/src/util/InputForm/index.tsx
Labels: Frontend

#85 Fehlermeldung bei falschen Anmeldedaten anzeigen
  frontend/src/components/Login/index.tsx
  frontend/src/features/authSlice.ts
Labels: Frontend
